<div *ngIf="dungeon.rooms">
    <h3 id="title">Rooms</h3>

    <ul class="rooms">
        <li *ngFor="let room of dungeon.rooms">
            <p>Name: {{room.name}} Size: {{room.sizeInCubicalMeter}}</p>
            
            <button
                routerLink="/room/{{room._id}}/dungeon/{{dungeonId}}"
                type="button"
                class="btn btn-info"
            >
                {{room.name}} Details
            </button>
        </li>
    </ul>
</div>

<button
    *ngIf="userId == dungeon.userId"
    routerLink="/room/dungeon/{{dungeonId}}"
    type="button"
    class="btn btn-success"
>
    New Room
</button>

