<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-8">
      <h2>Register</h2>
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

        <!--User Name-->
        <div class="form-group">
          <label for="name">User Name</label>
          <input 
            type="text" 
            class="form-control" 
            id="name" 
            [(ngModel)]="model.name" 
            name="name" 
            #name="ngModel"
            [ngClass]="{
             'is-invalid': name.invalid
            }" 
            required 
          />
          <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required.</div>
          </div>
        </div>

        <!--Password-->
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            [(ngModel)]="model.password" 
            name="password" 
            #password="ngModel"
            [ngClass]="{
             'is-invalid': password.invalid
            }" 
            required 
          />
          <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required.</div>
          </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">
          Save
      </button>
      </form>

      <br/>
      <div class="alert alert-warning alert-dismissible" *ngIf="(nameTaken)">
        <strong>Failed</strong> This name is already taken.
      </div>
      
    </div>
  </div>
</div>