<div *ngIf="monster">

    <h2>{{monster.name | uppercase}} Details</h2>
    <p>size: {{monster.size}}</p>
    <p>type: {{monster.type}}</p>
    <p>challenge: {{monster.challenge}}</p>
    <p>hit points: {{monster.hp}}</p>
    <p>challenge: {{monster.challenge}}</p>
    <p>hit points: {{monster.hp}}</p>
    <p>armour class: {{monster.ac}}</p>
    <p>source: {{monster.source}}</p>

    <button 
        *ngIf="userId == monster.userId"
        class="btn btn-danger" title="Delete Monster"
        (click)="delete(monster)">Delete Monster
    </button>

</div>

