<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda. 
      Deze casus is een ondersteuning voor spelers van het spel <a href="https://dnd.wizards.com/" target="_blank">"Dungeons and Dragons"</a> van Wizards of the Coast. Een belangrijke rol in dit spel is de Dungeon Master die de wereld maakt waarin gespeeld wordt. Dit spel is een tabletop rpg wat ervoor zorgt dat dungeons masters makkelijk eigen regels en spelonderdelen toe kunnen voegen, je hebt namelijk alleen maar pen en papier nodig om mee te starten. Op het internet worden heel veel van deze regels en spelonderdelen met elkaar gedeeld, op reddit bijvoorbeeld. Echter zijn dit vaak loshangende onderdelen. Ik wil daardoor graag een applicatie maken die dit wat beter met elkaar verbindt.
    </p>
    <h3>Dungeon Share</h3>
    <p>
      Mijn applicatie is gericht aan Dungeon Masters zodat zij makkelijk hun eigen gemaakte dungeons met anderen kunnen delen, en dus ook andermans dungeons kunnen bekijken. Een dungeon bestaat uit meerdere kamers. De dungeons zijn gevaarlijke plekken dus in een aantal kamers kunnen ook monsters zitten. Mensen moeten makkelijk een overzicht van meerdere dungeons krijgen met wat basisinformatie. Ze moeten uit dit overzicht er eentje uit kunnen kiezen en wat meer details zien + een overzicht van alle kamers. Ze moeten ook elke kamer van de dungeon kunnen selecteren om de details van de kamer te zien en welke monsters erin zitten. Als laatste kunnen ze ook nog de details van de monsters zelf zien. Mensen moeten ook zelf hun dungeon kunnen maken en samenstellen. Niet iedereen is even creatief, dus ik wil dat je een dungeon van een andere kan overnemen en deze kan aanpassen, of monsters kan selecteren die anderen al gemaakt hebben. Het is natuurlijk ook mogelijk om je dungeon helemaal zelf te maken zonder gebruik te maken van het werk van anderen.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Lauran van Ekeren</h5>
        <p class="card-text">
          Studentnummer: 2145984
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Dungeon</p>
    <ul>
      <li>Id: ObjectId</li>
      <li>Name: String</li>
      <li>Description: String</li>
      <li>Size: Number</li>
      <li>Environment: Type</li>
      <li>Difficulty: Number</li>
      <li>Preferred Number Of Players: Number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Room</p>
    <ul>
      <li>Id: ObjectId</li>
      <li>Name: String</li>
      <li>Description: String</li>
      <li>SizeInMeter^2: Number</li>
      <li>Hidden: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Monster</p>
    <ul>
      <li>Id: ObjectId</li>
      <li>Name: String</li>
      <li>Size: Enum</li>
      <li>Type: Enum</li>
      <li>Challenge: Number</li>
      <li>HP: Number</li>
      <li>AC: Number</li>
      <li>Source: String</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
