<h1 id="title">Dungeons</h1>

<ul class="dungeons">
    <li *ngFor="let dungeon of dungeons">
        <p>Name: {{dungeon.name}} Environment: {{dungeon.environment}}</p>
        
        <button
            routerLink="/dungeon/{{dungeon._id}}"
            type="button"
            class="btn btn-info"
        > 
            {{dungeon.name}} Details
        </button>
    </li>
</ul>

<button
    *ngIf="loggedInUser$ | async as user"
    routerLink="/dungeon/add"
    type="button"
    class="btn btn-success"
>
    New Dungeon
</button>

