<p>This is a detail screen<p>
    
<div *ngIf="room">

    <h2>Room: {{room.name}} Details</h2>
    <p>description: {{room.description}}</p>
    <p>size: {{room.sizeInCubicalMeter}}</p>
    <p>hidden: {{room.hidden}}</p>

    <button
        *ngIf="userId == room.userId"
        routerLink="/room/{{room._id}}/dungeon/{{dungeonId}}/edit"
        type="button"
        class="btn btn-info"
    >
        Edit Room
    </button>

    <br/>

    <button 
        *ngIf="userId == room.userId"
        class="btn btn-danger" 
        title="Delete Room"
        (click)="delete(room)"
    >
        Delete Room
    </button>

</div>

<!--TODO: Routerlink wordt button.
    Buttons mogen alleen maar gezien worden als de gebruiker de eigenaar is.-->