<div *ngIf="dungeon">

    <h2>{{dungeon.name | uppercase}} Details</h2>
    <p>description: {{dungeon.description}}</p>
    <p>environment: {{dungeon.environment}}</p>
    <p>difficulty: {{dungeon.difficulty}}</p>
    <p>preferred number of players: {{dungeon.prefferedNumberOfPlayers}}</p>
    
    <button
        *ngIf="userId == dungeon.userId"
        routerLink="/dungeon/{{dungeon._id}}/edit"
        class="btn btn-info"
        title="Edit Dungeon"
    > 
        Edit Dungeon: {{dungeon.name}}
    </button>

    <br/>

    <button 
        *ngIf="userId == dungeon.userId"
        class="btn btn-danger" title="Delete Dungeon"
        (click)="delete(dungeon)"
    >
        Delete Dungeon: {{dungeon.name}}
    </button>

    <app-room-list></app-room-list>
</div>

<p>This is a detail screen.<p>
