<div class="container dungeon-add-container">
    <div class="row justify-content-center">
        <div>
            <h2>Add Dungeon</h2>

            <form (ngSubmit)="onSubmit()" #addDungeonForm="ngForm">
                <!--Dungeon Name-->
                <div class="form-group">
                    <label for="name">Dungeon name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        [(ngModel)]="model.name" 
                        name="name" 
                        #name="ngModel"
                        [ngClass]="{
                            'is-invalid': name.invalid
                        }" 
                        required 
                        minlength="3"
                    />
                    <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                        <div *ngIf="name.errors.required">Dungeon name is vereist.</div>
                        <div *ngIf="name.errors.minlength">Dungeon name moet minimaal 3 tekens lang zijn.</div>
                    </div>
                </div>

                <!--Description-->                
                <div class="form-group">
                    <label for="description">Description</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="description" 
                        [(ngModel)]="model.description" 
                        name="description" 
                        #description="ngModel"
                        [ngClass]="{
                            'is-invalid': description.invalid
                        }" 
                    />
                    <div *ngIf="description.invalid && description.touched" class="invalid-feedback">
                    </div>
                </div>

                <!--environment-->
                <div class="form-group">
                    <label for="environment">Environment</label>
                    <select 
                        class="form-control" 
                        id="environment"
                        [(ngModel)]="model.environment"
                        name="environment"
                        #environment="ngModel"
                        [ngClass]="{
                            'is-invalid': environment.invalid
                        }" 
                        required
                    >
                        <option 
                            *ngFor="let environment of environments" 
                            [value]="environment">{{environment}}</option>
                    </select>
                    <div *ngIf="environment.invalid && environment.touched" class="invalid-feedback">
                        <div *ngIf="environment.errors.required">Environment is vereist.</div>
                    </div>
                </div>
                
                <!--Difficulty-->                
                <div class="form-group">
                    <label for="difficulty">Difficulty</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="difficulty" 
                        [(ngModel)]="model.difficulty" 
                        name="difficulty" 
                        #difficulty="ngModel"
                        [ngClass]="{
                            'is-invalid': difficulty.invalid
                        }" 
                        required
                        min="0"
                        max="20"
                    />
                    <div *ngIf="difficulty.invalid && difficulty.touched" class="invalid-feedback">
                        <div *ngIf="difficulty.errors.required">Difficulty is vereist.</div>
                        <div *ngIf="difficulty.errors.min">Difficulty mag niet negatief zijn.</div>
                        <div *ngIf="difficulty.errors.max">Difficulty moet lager dan 20 zijn.</div>
                    </div>
                </div>
                
                <!--prefferedNumberOfPlayers-->
                <div class="form-group">
                    <label for="prefferedNumberOfPlayers">Preffered Number Off Players</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="prefferedNumberOfPlayers" 
                        [(ngModel)]="model.prefferedNumberOfPlayers" 
                        name="prefferedNumberOfPlayers"
                        #prefferedNumberOfPlayers="ngModel" 
                        [ngClass]="{
                            'is-invalid': prefferedNumberOfPlayers.invalid
                        }" 
                        required 
                        min="1" 
                    />
                    <div *ngIf="prefferedNumberOfPlayers.invalid && prefferedNumberOfPlayers.touched" class="invalid-feedback">
                        <div *ngIf="prefferedNumberOfPlayers.errors.required">Preffered NumberOff Players is vereist.</div>
                        <div *ngIf="prefferedNumberOfPlayers.errors.min">prefferedNumber Off Players mag niet negatief zijn.</div>
                    </div>
                </div>

                <!--Button-->
                <button type="submit" class="btn btn-success" [disabled]="!addDungeonForm.valid">
                    Save
                </button>
            
            
            </form>


        </div>
    </div>
</div>

