<p>room-add works!</p>

<div class="container room-add-container">
    <div class="row justify-content-center">
        <div>
            <h2>Add Room</h2>

            <form (ngSubmit)="onSubmit()" #addRoomForm="ngForm">

                <!--Room Name-->
                <div class="form-group">
                    <label for="name">Room name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        [(ngModel)]="model.name" 
                        name="name" 
                        #name="ngModel"
                        [ngClass]="{
                            'is-invalid': name.invalid
                        }" 
                        required 
                        minlength="3"
                    />
                    <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                        <div *ngIf="name.errors.required">Room name is vereist.</div>
                        <div *ngIf="name.errors.minlength">Room name moet minimaal 3 tekens lang zijn.</div>
                    </div>
                </div>

                <!--Description-->                
                <div class="form-group">
                    <label for="description">Description</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="description" 
                        [(ngModel)]="model.description" 
                        name="description" 
                        #description="ngModel"
                        [ngClass]="{
                            'is-invalid': description.invalid
                        }" 
                    />
                    <div *ngIf="description.invalid && description.touched" class="invalid-feedback">

                    </div>
                </div>

                <!--sizeInCubicalMeter-->                
                <div class="form-group">
                    <label for="sizeInCubicalMeter">Size In Cubical Meter</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="sizeInCubicalMeter" 
                        [(ngModel)]="model.sizeInCubicalMeter" 
                        name="sizeInCubicalMeter" 
                        #sizeInCubicalMeter="ngModel"
                        [ngClass]="{
                            'is-invalid': sizeInCubicalMeter.invalid
                        }" 
                        required
                        min="1"
                    />
                    <div *ngIf="sizeInCubicalMeter.invalid && sizeInCubicalMeter.touched" class="invalid-feedback">
                        <div *ngIf="sizeInCubicalMeter.errors.required">Size is vereist.</div>
                        <div *ngIf="sizeInCubicalMeter.errors.min">Size mag niet negatief zijn.</div>
                    </div>
                </div>

                <!--hidden-->                
                <div class="form-group">
                    <label for="hidden">Secret room</label>
                    <input 
                        type="checkbox" 
                        class="form-control" 
                        id="hidden" 
                        [(ngModel)]="model.hidden" 
                        name="hidden" 
                        #hidden="ngModel"
                        [ngClass]="{
                            'is-invalid': hidden.invalid
                        }" 
                    />
                    <div *ngIf="hidden.invalid && hidden.touched" class="invalid-feedback">

                    </div>
                </div>

                <!--Button-->
                <button type="submit" class="btn btn-success" [disabled]="!addRoomForm.valid">
                    Save
                </button>
            </form>

        </div>
    </div>
</div>