<h1 id="title">Monsters</h1>

<ul class="monsters">
    <li *ngFor="let monster of monsters">
        <p>Name: {{monster.name}} Type: {{monster.type}}</p>
        <button
            routerLink="/monster/{{monster._id}}"
            type="button"
            class="btn btn-info"
        > 
            {{monster.name}} Details
        </button>
    </li>
</ul>

<button
    *ngIf="loggedInUser$ | async as user"
    routerLink="/monster/add"
    type="button"
    class="btn btn-success"
>
    New Monster
</button>


