<div class="container dungeon-add-container">
    <div class="row justify-content-center">
        <div>
            <h2>Add Monster</h2>

            <form (ngSubmit)="onSubmit()" #addMonsterForm="ngForm">
                
                <!--Monster Name-->
                <div class="form-group">
                    <label for="name">Monster name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        [(ngModel)]="model.name" 
                        name="name" 
                        #name="ngModel"
                        [ngClass]="{
                            'is-invalid': name.invalid
                        }" 
                        required 
                        minlength="3"
                    />
                    <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                        <div *ngIf="name.errors.required">Monster name is vereist.</div>
                        <div *ngIf="name.errors.minlength">Monster name moet minimaal 3 tekens lang zijn.</div>
                    </div>
                </div>

                <!--size-->
                <div class="form-group">
                    <label for="size">Size</label>
                    <select 
                        class="form-control" 
                        id="size"
                        [(ngModel)]="model.size"
                        name="size"
                        #size="ngModel"
                        [ngClass]="{
                            'is-invalid': size.invalid
                        }" 
                        required
                    >
                        <option 
                            *ngFor="let size of sizes" 
                            [value]="size">{{size}}</option>
                    </select>
                    <div *ngIf="size.invalid && size.touched" class="invalid-feedback">
                        <div *ngIf="size.errors.required">size is vereist.</div>
                    </div>
                </div>

                <!--type-->
                <div class="form-group">
                    <label for="type">Type</label>
                    <select 
                        class="form-control" 
                        id="type"
                        [(ngModel)]="model.type"
                        name="type"
                        #type="ngModel"
                        [ngClass]="{
                            'is-invalid': type.invalid
                        }" 
                        required
                    >
                        <option 
                            *ngFor="let type of types" 
                            [value]="type">{{type}}</option>
                    </select>
                    <div *ngIf="type.invalid && type.touched" class="invalid-feedback">
                        <div *ngIf="type.errors.required">type is vereist.</div>
                    </div>
                </div>

                <!--challenge-->                
                <div class="form-group">
                    <label for="challenge">Challenge</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="challenge" 
                        [(ngModel)]="model.challenge" 
                        name="challenge" 
                        #challenge="ngModel"
                        [ngClass]="{
                            'is-invalid': challenge.invalid
                        }" 
                        required
                        min="0"
                    />
                    <div *ngIf="challenge.invalid && challenge.touched" class="invalid-feedback">
                        <div *ngIf="challenge.errors.required">Challenge is vereist.</div>
                        <div *ngIf="challenge.errors.min">Challenge mag niet negatief zijn.</div>
                    </div>
                </div>

                <!--hp-->                
                <div class="form-group">
                    <label for="hp">Hit Points</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="hp" 
                        [(ngModel)]="model.hp" 
                        name="hp" 
                        #hp="ngModel"
                        [ngClass]="{
                            'is-invalid': hp.invalid
                        }" 
                        required
                        min="1"
                    />
                    <div *ngIf="hp.invalid && hp.touched" class="invalid-feedback">
                        <div *ngIf="hp.errors.required">Hit Points is vereist.</div>
                        <div *ngIf="hp.errors.min">Hit Points mag niet onder 1 zijn.</div>
                    </div>
                </div>

                <!--ac-->                
                <div class="form-group">
                    <label for="ac">Armour Class</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="ac" 
                        [(ngModel)]="model.ac" 
                        name="ac" 
                        #ac="ngModel"
                        [ngClass]="{
                            'is-invalid': ac.invalid
                        }" 
                        required
                        min="1"
                    />
                    <div *ngIf="ac.invalid && ac.touched" class="invalid-feedback">
                        <div *ngIf="ac.errors.required">Armour Class is vereist.</div>
                        <div *ngIf="ac.errors.min">Armour Class mag niet onder 1 zijn.</div>
                    </div>
                </div>

                <!--Source-->
                <div class="form-group">
                    <label for="source">Source</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="source" 
                        [(ngModel)]="model.source" 
                        name="source" 
                        #source="ngModel"
                        [ngClass]="{
                            'is-invalid': source.invalid
                        }" 
                        required 
                        minlength="2"
                    />
                    <div *ngIf="source.invalid && source.touched" class="invalid-feedback">
                        <div *ngIf="source.errors.required">Source is vereist.</div>
                        <div *ngIf="source.errors.minlength">Source moet minimaal 2 tekens lang zijn.</div>
                    </div>
                </div>

                <!--Button-->
                <button type="submit" class="btn btn-success" [disabled]="!addMonsterForm.valid">
                    Save
                </button>
                

                <!-- <div>
                    <label for="name">
                        Monster Name:
                    </label>
                    <br>
                    <input id="name" type="text" formControlName="name">
                </div>

                <div>
                    <label for="size">
                        Size
                    </label>
                    <br>
                    <input id="size" type="text" formControlName="size">
                </div>

                <div>
                    <label for="type">
                        type
                    </label>
                    <br>
                    <input id="type" type="text" formControlName="type">
                </div>

                <div>
                    <label for="challenge">
                        challenge
                    </label>
                    <br>
                    <input id="challenge" type="number" formControlName="challenge">
                </div>

                <div>
                    <label for="hp">
                        Hit points
                    </label>
                    <br/>
                    <input id="hp" type="number" formControlName="hp">
                </div>

                <div>
                    <label for="ac">
                        Armour class.
                    </label>
                    <br/>
                    <input id="ac" type="number" formControlName="ac">
                </div>

                <div>
                    <label for="source">
                        Monster Source
                    </label>
                    <br/>
                    <input id="source" type="text" formControlName="source">
                </div>

                <button class="button" type="submit">Submit</button> -->
            </form>

        </div>
    </div>
</div>

